.services1{
    /* background-color: red; */
    margin: 0px;
    padding: 0px;
    color: rgb(62, 241, 26);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    

}
.h11{
    text-align: center;
    color: rgba(24, 92, 92, 0.856);
}
.service3{
    display: flex;
    justify-content: space-around;
    background-color: rgb(27, 14, 14);
    height: 250px;
    font-size: large;
    box-shadow: 3px 2px 4px 1px rgb(62, 241, 2) ;
}
.feature5{
    padding: 20px;
}
.tit{
    color: white;
}

